@charset "UTF-8";

/* body {
    background-image: var(--meu-background);
} */

#cabecalho-global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    /* Cores e o fundo*/
    background-image: var(--meu-background);
    padding: 8px 30px;

    width: 100%;
    box-sizing: border-box;
    height: 50px;

}

.header_login-form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input-group, .checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: none;
}



#cabecalho-global label,
#cabecalho-global a,
#cabecalho-global button {
    color: var(--cor-superficie);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.label_text-lembrar {
    text-transform: none;
}

button.btn-acessar {
    background: transparent;
    border: none;
    cursor: pointer;
}

#cabecalho-global input[type="text"] {
    border-radius: 20px;
    border: none;
    padding: 0px 15px;
    height: 22px;
    outline: none;
}

.header_submit-button {
    background-color: var(--cor-primaria-hover, #9D0B21);
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#campo-agencia { width: 50px; }
#campo-conta { width: 80px; }
#campo-digito { width: 25px; text-align: center; }

.image-container {
    display: flex;
    /* Ativa o modo flexível */
    flex-wrap: wrap;
    /* Essencial para responsividade: quebra a linha se não couber */
    /* gap: 20px; */
    /* Sem GAP por enquanto */
    /* Cria espaçamento entre as imagens sem precisar de margin */
    justify-content: flex-start;
    /* padding: 10px; */
    /* Sem Padding por enquanto */
}

.image-container img {
    flex: 0 0 auto;
    /* Flex-grow, Flex-shrink e Flex-basis */
    max-width: 100%;
    /* Garante que a imagem nunca ultrapasse a tela */
    height: auto;
    /* Mantém a proporção original */
    object-fit: contain;
}

.non-account-holder {
    display: flex;
}

.non-account-holder a {
    display: flex;
    align-items: center;
}

.benefit-card {
    li a {
        display: flex;
        /* Transforma o link em um container flexível */
        align-items: end;
    }
}

.item-menu-content {
    display: flex;
    align-items: end;
    cursor: pointer;
}

.item-menu-content a {
    display: flex;
    align-items: end;
    cursor: pointer;
}

.txt-fale-com-bia {
    font-weight: bold;
}



