@font-face {
    font-family: 'BradescoSans';
    src: url('../fonts/BradescoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BradescoSans';
    src: url('../fonts/BradescoSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Qualquer configuração para aplicar a 100% das páginas */
:root {
    /* Cores principais (Extraídas do Bradesco) */
    --cor-primaria: #CC092F; /* O vermelho principal */ 
    --cor-primaria-hover: #C01056; /* Um dos seus tons mais escuros para quando passar o mouse */

    /* Cores Estruturais (Cores de fundo e a superfície) */
    --cor-fundo: #F5F6F8; /* Cinza gelo para o fundo da tela */
    --cor-superficie: #FFFFFF; /* Branco puro para o fundo do formulário de login */

    /* Cores do Texto (Leitura) */
    --cor-texto-principal: #4D4D4D;
    /* Cinza chumbo, suave para os olhos */
    --cor-texto-secundario: #888888;

    /* Fontes */
    --fonte-padrao: 'BradescoSans', 'Open Sans', Arial, sans-serif;

    /* Gradientes do Bradesco */
    --gradiente-cor-1: #CC092F;
    --gradiente-cor-2: #C80B3A;
    --gradiente-cor-3: #C01056;
    --gradiente-cor-4: #BB1467;
    --gradiente-cor-5: #BB2077;

    /* Aplicação */
    --meu-background: linear-gradient(to right,
            var(--gradiente-cor-1),
            var(--gradiente-cor-2),
            var(--gradiente-cor-3),
            var(--gradiente-cor-4),
            var(--gradiente-cor-5));
}

body {
    font-family: var(--fonte-padrao);
    -webkit-font-smoothing: antialiased;
}